<div class="card" style="margin-top: 2em;">
    <header class="card-header">
        <p class="card-header-title">
            Exam Registration
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </a>
    </header>
    <div class="card-content">
      <div class="content" *ngIf="examreg.status == 'INIT'">
        <!--<p>{{examreg | json}}</p>-->
        <p>New Exam</p>
      </div>
        <div class="content" *ngIf="examreg.status == 'DONE'">
            <!--<p>{{examreg | json}}</p>-->
          <p>Exam deadline: <time datetime="2016-1-1">{{examreg.examDate | date:'medium'}}</time></p>
          <p>Status: {{examreg.status}}</p>
          <p>Correct: {{examreg.correct}}</p>
          <p>Wrong / Not Answered: {{examreg.sum - examreg.correct}}</p>
          <!--<p>Not answered: {{examreg.sum - examreg.correct}}</p>-->
          <p>Total questions: {{examreg.sum}}</p>
          <p>Success rate: {{(examreg.correct / examreg.sum ) * 100}} %</p>
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item" (click)="startExam()" *ngIf="examreg.status != 'DONE'">Start</a>
        <!--<a href="#" class="card-footer-item">Edit</a>-->
        <!--<a href="#" class="card-footer-item">Show results</a>-->
    </footer>
</div>
