<nav class="navbar is-link" role="navigation" aria-label="main navigation" >
  <!-- style="margin-right: 1em; margin-left: 1em;" -->
  <div class="navbar-brand">
    <span class="navbar-item">
      Exam Management
    </span>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/']">
        Exam registrations
      </a>

    </div>

    <div class="navbar-end">

      <div class="navbar-item">
        <div class="dropdown is-right" [ngClass]="{'is-active': active == true}" (click)="toggleActive()">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{{userData.firstName}} {{userData.lastName}}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item" href="http://qms-demo.myicpc.live" *ngIf="isAdmin">
                Question Management
              </a>
              <a class="dropdown-item" href="http://cms-demo.myicpc.live" *ngIf="isAdmin">
                Configuration Management
              </a>
              <a class="dropdown-item" href="http://ums-demo.myicpc.live/profile">
                Profile
              </a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" (click)="signOut()">
                Sign out
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="navbar-item">-->
        <!--<div class="buttons">-->
          <!--&lt;!&ndash;[routerLink]="['/']"&ndash;&gt;-->
          <!--<a class="button is-light is-outlined" href="http://qms-demo.myicpc.live" *ngIf="isAdmin">-->
            <!--QMS-->
          <!--</a>-->
          <!--<a class="button is-light is-outlined" href="http://qms-demo.myicpc.live" *ngIf="isAdmin">-->
            <!--CMS-->
          <!--</a>-->
          <!--<a class="button is-light is-outlined" href="http://ums-demo.myicpc.live/profile">-->
            <!--Profile-->
          <!--</a>-->
          <!--<a class="button is-primary" (click)="signOut()">-->
            <!--Sign out-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</nav>
