

<div class="box">
  <div class="content">
    <div *ngIf="counter$ | async as counter">
      <p>{{diff}} minutes remaining</p>
      <p>Deadline: {{exam.examDate | date:'medium'}}</p>
    </div>
  </div>
</div>

<div class="box">
  <article class="media">
    <div class="media-left">
      Question Nr.: {{qIndex + 1}}
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          {{questions[qIndex].body}}
        </p>
        <form #heroForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="control">
            <div *ngFor="let ch of questions[qIndex].choices; index as i;">
              <label class="radio">
                <input type="checkbox" (click)="choose(i)" [checked]="questions[qIndex].choices[i].chosen">
                {{ ch.body }}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </article>
</div>


<div class="box">
  <p>Code: </p>
  <div class="media-content">
    <div class="content" style="white-space: pre-line;">
      {{questions[qIndex].code}}
    </div>
  </div>
</div>



<!-- BUTTONS -->
<nav class="level is-mobile">
  <div class="level-left">
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-text" type="submit" [disabled]="false" (click)="prev()" *ngIf="qIndex != 0">Previous</button>
      </div>
      <div class="control">
        <button class="button is-text" type="reset" [disabled]="false" (click)="next()" *ngIf="qIndex != questions.length -1">Next</button>
      </div>
      <div class="control" *ngIf="qIndex == questions.length -1">
        <button class="button is-text" type="reset" [disabled]="false" (click)="submit()">Submit the test</button>
      </div>
    </div>
  </div>
</nav>
