/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Palanquin|Source+Sans+Pro');
@import 'bulma/css/bulma.css';

// Colors
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Grayscale
$gray-dark: #222;
$gray: #212121;
$gray-light: #666;
$gray-lighter: #bbb;
$gray-lightest: #eee;
///// Content
$body-font: 'Source Sans Pro',
sans-serif;
$heading-font: 'Palanquin',
sans-serif;
body {
    font-family: $body-font;
    // padding: 0 1vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: $heading-font;
    font-weight: 300 !important;
}

a {
    color: #1c90f3;
    font-weight: bold;
    &:hover {
        color: darken(#1c90f3, 10%)
    }
}

#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    // min-height: 70vh;
    // padding: 2vw;
    flex: 1
}